header {
  background-color: #f21616;
}

.characterName {
  background-color: thistle;
  color: #168bf2;
}

.pokemonName::first-letter {
  text-transform: uppercase;
}

.pokemonType::first-letter {
  text-transform: uppercase;
}
