body {
  background-color: #b4dced;
}

header {
  background-color: #f21616;
}

.characterName {
  background-color: thistle;
  color: #168bf2;
}

.pokemonName::first-letter {
  text-transform: uppercase;
}

.pokemonType::first-letter {
  text-transform: uppercase;
}

.navBar {
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;
}
/* 
form {
  float: right;
}

.result {
  float: right;
} */
